<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
</head>
<body>
    <h1>¡Hola {{ nombre }}!</h1>
    <h3>Bienvenido a Symfony, Este simple Poc</h3>
    <p>Pruebas simples de Symfony</p>
</body>
</html>
